.hover-link {
  text-decoration: none;
  /* Remove default underline */
  position: relative;
  /* Required for absolute positioning of the line */
}

.hover-link::after {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  /* Set the thickness of the underline */
  @apply bg-bright-red;
  /* Set the color of the underline */
  bottom: -2px;
  /* Adjust the position of the underline */
  left: 0;
  transition: width 0.3s ease;
}

.hover-link:hover::after {
  width: 100%;
  /* Extend the underline on hover */
}

#menuButton {
  position: relative;
}

#menuButton.open .menu-icon {
  transform: rotate(90deg);
  opacity: 0;
}

#menuButton.open .x-icon {
  transform: rotate(0deg);
  opacity: 1;
}

.menu-icon {
  transition:
    transform 0.3s ease,
    opacity 0.3s ease;
}

.x-icon {
  position: absolute;
  opacity: 0;
  transition:
    transform 0.3s ease,
    opacity 0.3s ease;
  transform: rotate(-90deg);
}
