.embla {
    max-width: 48rem;
    margin: auto;
    --slide-height: 19rem;
    --slide-spacing: 2rem;
    --slide-size: 75%;
}

.embla__viewport {
    overflow: hidden;
    padding: 3rem 0px;
}

.embla__container {
    display: flex;
    touch-action: pan-y pinch-zoom;
    margin-left: calc(var(--slide-spacing) * -1);
}

.embla__slide {
    transform: translate3d(0, 0, 0);
    flex: 0 0 var(--slide-size);
    min-width: 0;
    padding-left: var(--slide-spacing);
}

.embla_slide_content {
    padding: 2rem;
    border-radius: 1.8rem;
    background: rgb(255, 255, 255);
    box-shadow: 15px 15px 30px rgb(255, 255, 255), -15px -15px 30px #D12026;
    font-size: 1.2rem;
    font-weight: 600;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* height: var(--slide-height); */
    -webkit-user-select: none;
    user-select: none;
}